body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
}

.main_container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 10%;
}

nav {
  width: 95%;
  height: 50px;
  margin: 0 0 3% 0;
  padding: 2% 0 1% 0%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

nav ul li {
  margin-right: 9%;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #949497;
}

.active {
  color: #0987ff;
}

nav img {
  width: 5%;
  margin-left: 5%;
}
