.main_missions {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.missionList_container {
  width: 100%;
}

.missionList_container ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.missionList_container ul li {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  border-top: #646060 solid 1px;
  border-left: #646060 solid 1px;
  border-right: #646060 solid 1px;
  box-sizing: border-box;
}

.missionList_container ul li:last-child {
  border-bottom: #646060 solid 1px;
}

.missionList_container ul li:first-child {
  font-weight: bold;
}

.missionList_container ul li span {
  padding: 1% 2% 1% 1%;
  border-right: #646060 solid 1px;
}

.missionName {
  width: 8%;
}

.status_container {
  display: flex;
  width: 15%;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.missionStatus {
  padding: 3%;
  border-radius: 5px;
  color: #fff;
}

.status_join {
  background-color: #23a2a9;
}

.status_leave {
  background-color: #6d747e;
}

.missionDescrip {
  width: 64%;
}

.missionbuttons {
  width: 12%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.mission_btn {
  padding: 5%;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  border-radius: 5%;
}

.btn_join {
  border: #e04e5d solid 1px;
  color: #e04e5d;
}

.btn_leave {
  border: #6d7176 solid 1px;
  color: #6d7176;
}

#missionStatusWord {
  justify-content: flex-start;
  height: max-content;
}
